<div class="container">
  <div class="col-md-12">

<!--Grid row-->
<div class="row" style="margin-top:20px;">
  
      <!--Grid column-->
      <div class="col-md-4">
  
          <!--Card-->
          <div class="card testimonial-card" mdbWavesEffect>
  
              <!--Bacground color-->
              <div class="card-up" align="center" style="padding-top:15px;">
                  <i class="fa fas fa-bus fa-3x"></i>
              </div>
  
              
  
              <div class="card-body">
                  <!--Name-->
                  
                  <h4 class="card-title">Add Bus</h4>
                  <hr>
                  
              </div>
  
          </div>
          <!--/.Card-->
  
      </div>
      <!--Grid column-->
  
      <!--Grid column-->
      <div class="col-md-4">
  
          <div class="card testimonial-card" mdbWavesEffect>
              
                          <!--Bacground color-->
                          <div class="card-up" align="center" style="padding-top:15px;">
                              <i class="fa fas fa-road fa-3x"></i>
                          </div>
              
                          
              
                          <div class="card-body">
                              <!--Name-->
                              
                              <h4 class="card-title">Add Route</h4>
                              <hr>
                              
                          </div>
              
                      </div>
  
      </div>
      <!--Grid column-->
       <!--Grid column-->
       <div class="col-md-4">
        
          <div class="card testimonial-card" mdbWavesEffect>
              
                          <!--Bacground color-->
                          <div class="card-up" align="center" style="padding-top:15px;">
                              <i class="fa fas fa-calendar fa-3x"></i>
                          </div>
              
                          
              
                          <div class="card-body">
                              <!--Name-->
                              
                              <h4 class="card-title">Schedule</h4>
                              <hr>
                              
                          </div>
              
                      </div>
        
            </div>
            <!--Grid column-->
             <!--Grid column-->
      <div class="col-md-4" style="margin-top:20px;">
        
                <!--Card-->
                <div class="card testimonial-card" mdbWavesEffect>
                    
                                <!--Bacground color-->
                                <div class="card-up" align="center" style="padding-top:15px;">
                                    <i class="fa fas fa-users fa-3x"></i>
                                </div>
                    
                                
                    
                                <div class="card-body">
                                    <!--Name-->
                                    
                                    <h4 class="card-title">User List</h4>
                                    <hr>
                                    
                                </div>
                    
                            </div>
                <!--/.Card-->
        
            </div>

            <div class="col-md-4" style="margin-top:20px;">
              
                <div class="card testimonial-card" mdbWavesEffect>
                    
                                <!--Bacground color-->
                                <div class="card-up" align="center" style="padding-top:15px;">
                                    <i class="fa fa-area-chart fa-3x"></i>
                                </div>
                    
                                
                    
                                <div class="card-body">
                                    <!--Name-->
                                    
                                    <h4 class="card-title">Route Report</h4>
                                    <hr>
                                    
                                </div>
                    
                            </div>
              
                  </div>
            <!--Grid column-->

  
  </div>
  <!--Grid row-->

  </div>
</div>
