<div class="container">
    <div class="col-md-12">

    <div class="card card-cascade narrower">
        <!--Panel-->
<div class="card">
        <h3 class="card-header mdb-color lighten-2 white-text">Bus List</h3>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6 float-left">
                    <div class="md-form">
                        <input mdbInputDirective type="text" id="form4" class="form-control">
                        <label for="form4" class="">Route no</label>
                    </div>
                </div>
             
            <form class="form-inline md-form mr-auto mb-4 float-right">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-warning btn-rounded btn-sm my-0 waves-light" mdbWavesEffect type="submit">Search</button>
              </form>
            </div>
    <!--Table-->
    <table class="table">
    
        <!--Table head-->
        <thead class="mdb-color darken-3">
            <tr class="text-white">
                <th>#</th>
                <th>Bus no</th>
                <th>Tracker No</th>
                <th>Driver</th>
                <th>Capacity</th>
            </tr>
        </thead>
        <!--Table head-->
    
        <!--Table body-->
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>@mdo</td>
            </tr>
        </tbody>
        <!--Table body-->
    </table>
    <!--Table-->
        </div>
    </div>
    <!--/.Panel-->
    </div>
</div>
</div>