<div class="main-container index" [class.app-toolbar-is-mobile]="mobileQuery.matches">

  <mat-toolbar class="app-toolbar">
    <button mat-icon-button (click)="snav.toggle()" class="logo-button">
      <!-- <mat-icon>menu</mat-icon> -->
      <img src="../../assets/images/ibus2.png" class="app-logo">
    </button>
    <!-- <h1 class="app-name">iChair</h1> -->
    <span class="app-nav-spacer"></span>
    <mat-slide-toggle></mat-slide-toggle>
    <button mat-icon-button>
      <mat-icon>notifications_active</mat-icon>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>settings</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <span>Disable alerts</span>
      </button>
      <button mat-menu-item (click)="signOut()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Sign out</span>
      </button>
    </mat-menu>
  </mat-toolbar>

  <mat-sidenav-container class="app-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav class="mat-elevation-z8" #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56" malihu-scrollbar [scrollbarOptions]="scrollbarOptions1">
      <div class="app-user">
        <mat-list-item>
          <img class="app-user-avatar" matListAvatar src="../../../assets/images/man.svg" alt="...">
          <p matLine>
            <span class="user-name"> Username </span>
          </p>
        </mat-list-item>
      </div>
      <mat-nav-list>
        <mat-list-item class="app-nav-list-item" *ngFor="let menuItem of sideMenu" [routerLink]="menuItem.routerLink" routerLinkActive="active-link">
          <mat-icon matListIcon>{{menuItem.icon}}</mat-icon>
          <h3 matLine> {{menuItem.item}} </h3>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content malihu-scrollbar [scrollbarOptions]="scrollbarOptions"  class="app-sidevav-content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>