
.main-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index : 1;
}

.app-toolbar-is-mobile .app-toolbar {
    position: fixed;
    z-index: 2;
    box-shadow: 0px 2px 21px -6px rgba(92, 92, 92, 1);
}

.mat-toolbar {
    height: 81px; // background: #0f188a;
    // background: linear-gradient(40deg, #000000, #056e8e);
    // background: linear-gradient(40deg, #07196f, #1c82ec);
    // background: linear-gradient(40deg, #050716, #273aba);
    // background: linear-gradient(40deg, #000000, #0e3da7);
    background: linear-gradient(40deg, #000000, #0ea0a7);
    color: rgb(255, 255, 255);
    padding-left: 4rem;
}

.logo-button {
    width: auto;
    height: auto;
}

.app-logo {
    width: 11rem;
    margin-top: 9px;
    margin-left: -38px;
}

.app-sidenav-container {
    flex: 2;
}

.app-is-mobile .app-sidenav-container {
    flex: 1 0 auto;
}

.app-nav-spacer {
    flex: 1 1 auto;
}

.app-sidevav-content {
    // background-color: #ffffff;
    background-color: #e2e2e2;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin-left: 15rem;
}

.app-nav-list-item {
    color: rgb(187, 187, 187);
}

.mat-nav-list .mat-list-item.mat-list-item-focus,
.mat-nav-list .mat-list-item:hover {
    background: #143580;
    color: rgb(255, 255, 255);
}

.mat-nav-list .mat-list-item.mat-list-item-focus,
.mat-nav-list .mat-list-item:active {
    background: rgb(28, 69, 160);
    color: rgb(255, 255, 255);
}

.mat-drawer {
    // background: linear-gradient(40deg, #2a3ec7, #000000);
    // background: linear-gradient(40deg, #070c2f, #092279);
    // background: linear-gradient(40deg, #0b5b6d, #000000);
    background: linear-gradient(40deg, #022021, #000000);
    width: 15rem;
}

.app-user {
    // margin-top: 10%;
    margin-top: 3rem;
    text-align: center;
    color: #b3b3b3;
}

.app-user-avatar {
    flex-shrink: 0;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-bottom: 5px;
    margin-left: -23px;
}

.user-name {
    margin-left: -26px;
}

.active-link {
    color: rgb(255, 255, 255); // background-color: #303030;
    background-color: #1c45a0;
}