<div class="container">
  <div class="col-md-12">

  <div class="card card-cascade narrower">
      <!--Panel-->
<div class="card">
      <h3 class="card-header mdb-color lighten-2 white-text">Mark Route</h3>
      <div class="card-body">
              <form>
        
                      <div class="row">
                      <div class="col-md-6">
                          <div class="md-form">
                            <mat-select placeholder="Route Number">
                              <mat-option>None</mat-option>
                              <mat-option *ngFor="let route of routes" [value]="route">{{route}}</mat-option>
                          </mat-select>
                          </div>
                      </div>
                      <div class="col-md-6">
                          <div class="md-form">

                          </div>
                      </div>

                      </div>
                      <div class="row">
                              <div class="col-md-3">
                                  <div class="md-form">
                                      <input mdbInputDirective type="text" value="Kollupitiya" id="form3" class="form-control">
                                      <label for="form3" class="">Route Start:</label>
                                  </div>
                              </div>
                              <div class="col-md-3">
                                  <div class="md-form">
                                      <input mdbInputDirective type="text" value="Kaduwela" id="form4" class="form-control">
                                      <label for="form4" class="">Route End:</label>
                                  </div>
                              </div>
                        </div>
                        <div class="row">
                          <table class="table">
                            
                                <!--Table head-->
                                <thead class="">
                                    <tr>
                                        <th>Stations</th>
                                        <th>Latitude</th>
                                        <th>Logitude</th>
                                    </tr>
                                </thead>
                                <!--Table head-->
                            
                                <!--Table body-->
                                <tbody>
                                    <tr>

                                        <td><input mdbInputDirective type="text" id="form3" value="Kollupitiya" class="form-control"></td>
                                        <td><input mdbInputDirective type="text" id="form3" value="1.024589" class="form-control"></td>
                                        <td><input mdbInputDirective type="text" id="form3" value="7.5845454" class="form-control"></td>
                                    </tr>
                                    <tr>

                                        <td><input mdbInputDirective type="text" id="form3" value="Rajagiriya" class="form-control"></td>
                                        <td><input mdbInputDirective type="text" id="form3" value="1.024589"  class="form-control"></td>
                                        <td><input mdbInputDirective type="text" id="form3" value="7.5845454" class="form-control"></td>
                                    </tr>
                                    <tr>
                                        <td><input mdbInputDirective type="text" id="form3" value="Malabe" class="form-control"></td>
                                        <td><input mdbInputDirective type="text" id="form3" value="1.024589" class="form-control"></td>
                                        <td><input mdbInputDirective type="text" id="form3" value="7.5845454" class="form-control"></td>
                                    </tr>
                                </tbody>
                                <!--Table body-->
                            </table>
                        </div> 
                            <div class="row">
                                      <div class="col-md-12">
                                          <div class="md-form">
                                              <!-- Indicates a successful or positive action -->
          <button type="button" class="btn btn-success waves-light" mdbWavesEffect>Save</button>
          <button type="button" class="btn btn-outline-primary " mdbWavesEffect><b>Reset</b></button>
                                          </div>
                                      </div>
                              </div>   

             </form>
      </div>
  </div>
  <!--/.Panel-->
  </div>
</div>
</div>