<div class="container">
  <div class="col-md-12">

  <div class="card card-cascade narrower">
      <!--Panel-->
<div class="card">
      <h3 class="card-header mdb-color lighten-2 white-text">Add Bus</h3>
      <div class="card-body">
              <form>
        
                      <div class="row">
                      <div class="col-md-6">
                          <div class="md-form">
                              <input mdbInputDirective type="text" id="form1" class="form-control">
                              <label for="form1" class="">Bus No</label>
                          </div>
                      </div>
                      <div class="col-md-6">
                          <div class="md-form">
                              <input mdbInputDirective type="text" id="form2" class="form-control">
                              <label for="form2" class="">Capacity</label>
                          </div>
                      </div>
                      </div>
                      <div class="row">
                              <div class="col-md-6">
                                  <div class="md-form">
                                      <input mdbInputDirective type="text" id="form3" class="form-control">
                                      <label for="form3" class="">Bus type</label>
                                  </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="md-form">
                                      <input mdbInputDirective type="text" id="form4" class="form-control">
                                      <label for="form4" class="">Route no</label>
                                  </div>
                              </div>
                              </div>
                              <div class="row">
                                      <div class="col-md-6">
                                          <div class="md-form">
                                              <input mdbInputDirective type="text" id="form5" class="form-control">
                                              <label for="form5" class="">Owner </label>
                                          </div>
                                      </div>
                                      <div class="col-md-6">
                                          <div class="md-form">
                                              <input mdbInputDirective type="text" id="form6" class="form-control">
                                              <label for="form6" class="">Driver </label>
                                          </div>
                                      </div>
                              </div> 
                              <div class="row">
                                      <div class="col-md-6">
                                          <div class="md-form">
                                              <input mdbInputDirective type="text" id="form5" class="form-control">
                                              <label for="form5" class="">Owner Contact</label>
                                          </div>
                                      </div>
                                      <div class="col-md-6">
                                          <div class="md-form">
                                              <input mdbInputDirective type="text" id="form6" class="form-control">
                                              <label for="form6" class="">Driver Contact</label>
                                          </div>
                                      </div>
                              </div> 
                              <div class="row">
                                      <div class="col-md-12">
                                          <div class="md-form">
                                              <!-- Indicates a successful or positive action -->
          <button type="button" class="btn btn-success waves-light" mdbWavesEffect>Save</button>
          <button type="button" class="btn btn-outline-primary " mdbWavesEffect><b>Reset</b></button>
                                          </div>
                                      </div>
                              </div>   

             </form>
      </div>
  </div>
  <!--/.Panel-->
  </div>
</div>
</div>